body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    position: relative;
}

.effect-container {
    position: relative; /* Contém todos os efeitos */
    overflow: hidden; /* Para evitar transbordamento */
    transform: perspective(0) rotateX(0) scale(1.9, 1.9);
}

@keyframes tv-shake {
    0% { transform: scale(1.9, 1.9) translate(0) ; }
    25% { transform: scale(1.9, 1.9) translate(-0.2px, 0.2px); }
    50% { transform: scale(1.9, 1.9) translate(-0.2px, -0.2px); }
    75% { transform: scale(1.9, 1.9) translate(0.2px, 0.2px); }
    100% { transform: scale(1.9, 1.9) translate(0.2px, -0.2px); }
}

.tv-shake {
    animation: tv-shake 0.1s infinite; /* Ajuste a duração e a frequência */
}

@keyframes flicker {
    0%, 20%, 100% { opacity: 0.1; }
    10%, 30% { opacity: 0.4; }
    50% { opacity: 0.8; }
}

.border-light {
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), /* Luz ciano */
                        0 0 20px rgba(255, 0, 255, 0.5), /* Luz magenta */
                        0 0 30px rgba(255, 255, 0, 0.5); /* Luz amarela */
}

.vidro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.1px); /* Ajuste o desfoque conforme necessário */
    background: rgba(148, 148, 148, 0.055); /* Cor de fundo com transparência */
    z-index: 20; /* Certifique-se de que esteja abaixo das outras camadas */
}


@keyframes arcade-screen {
    0% { transform: perspective(800px) rotateX(0) scale(2.1, 2) translate(0);  }
    25% { transform: perspective(800px) rotateX(5deg) scale(1.5, 1.5) translate(0, 0); }
    50% { transform: perspective(800px) rotateX(8deg) scale(1.3, 1.3) translate(0, 0); }
    75% { transform: perspective(800px) rotateX(12deg) scale(1.2, 1.1) translate(0, 0); }
    100% { transform: perspective(800px) rotateX(15deg) scale(1.1, 1) translate(0); }
}

.arcade-screen {
    animation: arcade-screen 1s; /* Duração do shake */
}

@keyframes full-screen {
    0% { transform: perspective(800px) rotateX(15deg) scale(1.1, 1) translate(0);  }
    25% { transform: perspective(800px) rotateX(12deg) scale(1.2, 1.1) translate(0, 0); }
    50% { transform: perspective(800px) rotateX(8deg) scale(1.3, 1.3) translate(0, 0); }
    75% { transform: perspective(800px) rotateX(50%) scale(1.5, 1.5) translate(0, 0); }
    100% { transform: perspective(800px) rotateX(0) scale(2.1, 2) translate(0); }
}

.full-screen {
    animation: full-screen 1s; /* Duração do shake */
}

canvas {
    width: 100%;
    height: 100%;
    display: block; /* Remove o espaço em branco abaixo do canvas */
}

.crt-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        transparent 0,
        transparent 90%,
        rgba(121, 121, 121, 0.2) 90%,
        rgba(255, 255, 255, 0.2) 100%
    );
    pointer-events: none;
    animation: move 0.8s linear infinite; /* Ajuste a duração para a velocidade desejada */
    z-index: 15; /* Certifique-se de que esteja acima de tudo */
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}


.vhs-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        rgba(139, 139, 139, 0.1) 0,
        rgba(168, 168, 168, 0.1) 1px,
        transparent 1px,
        transparent 2px
    );
    pointer-events: none;
    z-index: 10; /* Valor maior para ficar acima dos textos */
}

.overlay {
    position: relative; /* Certifique-se de que a posição das sobreposições esteja correta */
    z-index: 5; /* Valor menor que a vhs-lines */
}


.pixelated {
    image-rendering: pixelated;
    overflow: hidden; /* Oculta o excesso */
    filter: pixelate(500px) grayscale(1) contrast(10) brightness(10);
}

h1 {
    
    font-size: 20px; /* Tamanho original */
    transform: scale(0.5); /* Reduz a escala para simular menor qualidade */
    transform-origin: top left; /* Mantém a posição no canto */
    image-rendering: pixelated; /* Aplica renderização pixelizada */
    overflow: hidden; /* Oculta o excesso */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5),
    -1px -1px 0 rgba(0, 0, 0, 0.5);
    filter: blur(1px); /* Ajuste o valor conforme necessário */
}



.glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05); /* Efeito de brilho */
    filter: brightness(1.5) blur(20px); /* Ajuste o valor para mais ou menos brilho */
    pointer-events: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    z-index: 10; /* Certifique-se de que fique acima do canvas */
    display: none; /* Esconder por padrão */
}

.overlay.visible {
    display: flex; /* Mostrar quando necessário */
}

.game-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#gameScreen {
    background: rgba(0, 0, 0, 0) !important;
}

#gameScore {
    position: absolute;
    top: 0;
}

#starge {
    position: absolute;
    bottom: 0;
    right: 0;
}

.pause-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.start-screen h1{
    position: absolute;
    bottom: 20px;
    animation: blink 1s infinite; /* Altere o tempo de duração conforme desejado */
}


@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.game-over h1 {
    animation: blink 1s infinite; /* Altere o tempo de duração conforme desejado */
}

@keyframes shake {
    0% { transform: perspective(800px) rotateX(15deg) scale(1.5, 1.3) translate(0);  }
    25% { transform: perspective(800px) rotateX(15deg) scale(1.5, 1.3) translate(-5px, 0); }
    50% { transform: perspective(800px) rotateX(15deg) scale(1.5, 1.3) translate(5px, 0); }
    75% { transform: perspective(800px) rotateX(15deg) scale(1.5, 1.3) translate(-5px, 0); }
    100% { transform: perspective(800px) rotateX(15deg) scale(1.5, 1.3) translate(0) }
}

.shake {
    animation: shake 0.3s; /* Duração do shake */
}

